body {
	background: #999;
}

.access-card--outer-border {
	width: 5.4cm;
	height: 8.6cm;
	background: #FFF;
	padding: 0.2cm;
	border-radius: 0.2cm;
	font-family: "Times new Roman";
	color: #FFF;
}

.access-card--outer-border:after {
	position: absolute;
	top: 9.5cm;
	content: "Designed by Ten Knapp";
	color: #333333;
	font-size: 10px;
}

.access-card--punch-hole {
	margin-left: auto;
	margin-right: auto;
	background: #999999;
	width: 1.5cm;
	height: 0.4cm;
	border-radius: 0.2cm;
}

.access-card--text-black {
	color: #000;
}

.access-card--text-upper {
	text-transform: uppercase;
}

.access-card--header {
	margin-top: 0.2cm;
	display: flex;
}

.access-card--logo {
	flex: 0 0 20%;
}

.access-card--logo img {
	width: 100%;
}

.access-card--title {
	flex: 1;
	line-height: 0;
	font-size: 10pt;
	text-align: center;
	font-weight: bold;
}

.access-card--organization {
	text-transform: uppercase;
}

.access-card--details {
	background: #FFF;
	color: #000;
	border-radius: 0.3cm;
	text-align: center;
	margin-bottom: 0.2cm;
	border: 1px solid #000;
}

.access-card--identification {
	font-size: 10pt;
	font-weight: bold;
	padding-top: 0.15cm;
	padding-left: 0.15cm;
	padding-right: 0.15cm;
	padding-bottom: 0.1cm;
	border-bottom: 1px solid #000;
}

.access-card--handle {
	text-transform: uppercase;
}

.access-card--fullname {
	font-size: 8pt;
	padding-top: 0.1cm;
	padding-bottom: 0.15cm;
	padding-left: 0.15cm;
	padding-right: 0.15cm;	
}

.access-card--role {
	font-size: 6pt;
	padding-top: 0.15cm;
	padding-left: 0.15cm;
	padding-right: 0.15cm;
	text-align: left;
}

.access-card--footer {
	display: flex;
}

.access-card--photo {
	flex: 0 0 40%;
	padding-right: 0.1cm;
}

.access-card--photo img {
	width: 100%;
}

.access-card--code {
	flex: 1;
	padding-left: 0.1cm;
}

.access-card--code img {
	width: 100%;
}

.access-card--code-vehicle {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 0.1cm;
}

.access-card--sector {
	font-size: 8pt;
	font-weight: bold;
	padding-top: 0.1cm;
	padding-bottom: 0.15cm;
	padding-left: 0.15cm;
	padding-right: 0.15cm;	
}

.access-card--stripe {
	line-height: 0.25cm;
}

#stripe_white {
	background: #FFF;
}

#stripe_red {
	background: #F00;
}

#stripe_yellow {
	background: #FF0;
}

#stripe_green {
	background: #0F0;
}

#stripe_cyan {
	background: #0FF;
}

#stripe_blue {
	background: #00F;
}